<form fxLayout="column" fxLayoutAlign="center center">
  <md-input-container class="input-container">
    <!-- material2 2.0.0-beta.10: md-input-container renamed to md-form-field (while still being backwards compatible) -->
    <!-- Current version: 2.0.0-beta.8 => md-form-field won't work -->
    <input mdInput #task placeholder="Enter task">
  </md-input-container>

  <button type="button" class="add-button" md-fab (click)="addTask(task.value); task.value = ''"> 
      <md-icon>add</md-icon>
  </button>

  <md-list class="list" fxLayout="column" fxLayoutAlign="start center">

    <ng-container *ngFor="let t of list | async; let i = index">
      <md-list-item class="list-item">
        <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
          {{t.desc}}
          <button type="button" class="delete-button" md-mini-fab (click)="deleteTask(t)"> 
              <md-icon>delete</md-icon>
          </button>
        </div>
      </md-list-item>
      <md-divider *ngIf="i !== listLength  - 1"></md-divider>
    </ng-container>
  </md-list>
</form>
