<form fxLayout="column" fxLayoutAlign="center center">
  <md-input-container class="input-container">
    <!-- material2 2.0.0-beta.10: md-input-container renamed to md-form-field (while still being backwards compatible) -->
    <!-- Current version: 2.0.0-beta.8 => md-form-field won't work -->
    <input mdInput #task placeholder="Enter task">
  </md-input-container>

  <button type="button" class="add-button" md-fab (click)="addTask(task.value); task.value = ''"> 
      <md-icon>add</md-icon>
  </button>

  <md-list class="list" fxLayout="column" fxLayoutAlign="start center">

    <ng-container *ngFor="let t of list; let i = index">
      <md-list-item> {{t.desc}}</md-list-item>
      <md-divider *ngIf="i !== list.length  - 1"></md-divider>
    </ng-container>
  </md-list>
</form>
